<atomic-commerce-interface type="product-listing">
  <atomic-commerce-layout>
    <atomic-layout-section section="facets">
      <atomic-commerce-facets></atomic-commerce-facets>
    </atomic-layout-section>
    <atomic-layout-section section="main">
      <atomic-layout-section section="status">
        <atomic-commerce-breadbox></atomic-commerce-breadbox>
        <atomic-commerce-query-summary></atomic-commerce-query-summary>
        <atomic-commerce-sort-dropdown></atomic-commerce-sort-dropdown>
        <atomic-commerce-refine-toggle></atomic-commerce-refine-toggle>
      </atomic-layout-section>
      <atomic-layout-section section="products">
        <atomic-commerce-product-list
          display="grid"
          density="compact"
          image-size="small"
        ></atomic-commerce-product-list>
      </atomic-layout-section>
      <atomic-layout-section section="pagination">
        <atomic-commerce-pagination></atomic-commerce-pagination>
      </atomic-layout-section>
    </atomic-layout-section>
  </atomic-commerce-layout>
</atomic-commerce-interface>
